<div class="panel panel-default">
        <div class="panel-heading">Write review for book</div>
        <div class="panel-body">
            <div class="input-group">
                <table>
                Book Title
        <textarea class="form-control custom-control" style="resize:none" rows=1 ng-model="postReview.book.booktitle"></textarea>
                </table>
                <table>
                Your Review
                <textarea class="form-control custom-control" style="resize:none" ng-model="postReview.book.review"></textarea>
                    </table>
            <span class="input-group-addon btn btn-primary" ng-click="postReview.postReview()">Publish review</span>
            </div>
        </div>
    </div>